* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #080b12;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.game {
    width: 100%;
    height: 100vh;
    position: relative;
}


/* =========================
   HUD
========================= */

.hud {
    height: 70px;

    background: #101521;

    border-bottom: 1px solid #252c3a;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
}

.title {
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
}

.title small {
    display: block;

    color: #6f7b91;

    font-size: 9px;
    letter-spacing: 2px;

    margin-top: 3px;
}

.stat {
    display: flex;
    align-items: center;

    gap: 8px;

    min-width: 220px;
}

.stats-right {
    display: flex;
    gap: 20px;

    color: #aeb8ca;
}


/* =========================
   BARS
========================= */

.bar {
    width: 130px;
    height: 10px;

    background: #272d39;

    border-radius: 20px;

    overflow: hidden;
}

.fill {
    height: 100%;
    width: 100%;

    transition: width .2s;
}

.hp {
    background: #ff3d54;
}

.stability-fill {
    background: #22d3ee;
}


/* =========================
   STABILITY
========================= */

.stability {
    height: 42px;

    background: #0d111a;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;

    font-size: 13px;

    color: #aeb8ca;
}

.stability .bar {
    width: 220px;
}


/* =========================
   ROAD
========================= */

.race {
    height: 48%;
    min-height: 280px;
}

.road {
    height: 100%;
    position: relative;
    overflow: hidden;

    background-image:
        url("assets/road-texture.png");

    background-repeat: repeat-y;

    background-size:
        100% auto;

    background-position:
        center 0;

    border-top: 5px solid #343b44;
    border-bottom: 5px solid #343b44;

    animation:
        roadTextureMove 1.8s linear infinite;
}

@keyframes roadTextureMove {

    from {
        background-position:
            center 100%;
    }

    to {
        background-position:
            center 0%;
    }
}




/* Road edges */

.road::before,
.road::after {
    content: "";

    position: absolute;

    top: 0;

    height: 100%;

    width: 7px;

    background: #f4c542;

    z-index: 2;
}

.road::before {
    left: 8%;
}

.road::after {
    right: 8%;
}


/* =========================
   ROAD LINES
========================= */

.road-lines {
    display: none;
}

.road::before,
.road::after {
    display: none;
}


@keyframes roadMove {

    from {
        background-position-y: 0;
    }

    to {
        background-position-y: 140px;
    }
}


/* =========================
   CAR
========================= */

.car {
    position: absolute;

    left: 50%;
    bottom: 35px;

    width: 110px;
    height: 70px;

    z-index: 5;

    transform: translateX(-50%);

    transition:
        left .12s ease-out,
        transform .12s ease-out;

    filter:
        drop-shadow(0 10px 6px rgba(0, 0, 0, .55));
}

.car img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    display: block;

    user-select: none;
    pointer-events: none;
}




/* =========================
   CAR SHAKE
========================= */

.car.shake {
    animation: shake .12s infinite;
}

@keyframes shake {

    0% {
        transform:
            translateX(-50%)
            rotate(-3deg);
    }

    50% {
        transform:
            translateX(-50%)
            rotate(3deg);
    }

    100% {
        transform:
            translateX(-50%)
            rotate(-3deg);
    }
}

.car.crashed {
    animation: crashCar .7s forwards;
}

@keyframes crashCar {

    0% {
        transform:
            translateX(-50%)
            rotate(0deg);
    }

    40% {
        transform:
            translateX(-50%)
            rotate(-15deg);
    }

    100% {
        transform:
            translateX(-50%)
            translateY(30px)
            rotate(35deg);
        opacity: .35;
    }
}


/* =========================
   HAZARDS
========================= */

.hazards {
    position: absolute;

    inset: 0;

    pointer-events: none;

    z-index: 4;
}

.hazard {
    position: absolute;

    top: -50px;

    font-size: 30px;

    animation:
        hazardMove linear forwards;
}
.hazard img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    display: block;
}

@keyframes hazardMove {

    from {
        top: -50px;
    }

    to {
        top: 110%;
    }
}


/* =========================
   TYPING AREA
========================= */

.typing-area {
    width: min(900px, 92%);

    margin: 20px auto;
}

.text {
    min-height: 90px;

    padding: 18px;

    background: #111722;

    border: 1px solid #273044;

    border-radius: 10px;

    color: #69758a;

    font-size: 20px;

    line-height: 1.7;
}

.text span.correct {
    color: #39e58c;
}

.text span.current {
    border-left: 2px solid #22d3ee;

    animation:
        cursorBlink .8s infinite;
}

@keyframes cursorBlink {

    50% {
        border-color: transparent;
    }
}


/* =========================
   INPUT
========================= */

.typing-area input {
    width: 100%;

    margin-top: 12px;

    padding: 16px 18px;

    border: 2px solid #293347;

    border-radius: 10px;

    background: #0d121c;

    color: white;

    outline: none;

    font-size: 18px;
}

.typing-area input:focus {
    border-color: #22d3ee;
}

.typing-area input:disabled {
    opacity: .5;
    cursor: not-allowed;
}


/* =========================
   BOTTOM STATS
========================= */

.bottom-stats {
    margin-top: 10px;

    display: flex;

    justify-content: space-between;

    color: #78859b;

    font-size: 13px;
}


/* =========================
   COUNTDOWN
========================= */

.countdown {
    position: fixed;

    inset: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    background:
        rgba(0,0,0,.55);

    font-size: 130px;

    font-weight: 900;

    color: #22d3ee;

    z-index: 200;

    text-shadow:
        0 0 30px #22d3ee;
}


/* =========================
   OVERLAY
========================= */

.overlay {
    position: fixed;

    inset: 0;

    background:
        rgba(0,0,0,.78);

    display: flex;

    align-items: center;
    justify-content: center;

    z-index: 300;
}

.hidden {
    display: none !important;
}


/* =========================
   GAME OVER
========================= */

.game-over {
    width: min(420px, 90%);

    padding: 35px;

    background: #111722;

    border: 1px solid #30394b;

    border-radius: 16px;

    text-align: center;

    box-shadow:
        0 20px 80px
        rgba(0,0,0,.6);
}

.crash {
    font-size: 65px;
}

.game-over h1 {
    margin: 10px 0;

    font-size: 42px;

    color: #ff4058;
}

.game-over p {
    color: #78859b;
}


/* =========================
   RESULTS
========================= */

.results {
    display: flex;

    justify-content: space-around;

    margin: 25px 0;
}

.results div {
    display: flex;

    flex-direction: column;

    gap: 5px;
}

.results small {
    color: #69758a;
}

.results b {
    font-size: 24px;
}


/* =========================
   BUTTON
========================= */

button {
    border: 0;

    border-radius: 8px;

    cursor: pointer;

    font-weight: 900;
}

.start-button,
#restart {
    width: 100%;

    padding: 14px;

    background: #22d3ee;

    color: #061018;

    font-size: 15px;

    letter-spacing: 1px;
}

.start-button {
    margin-top: 22px;
}

button:hover {
    background: #67e8f9;
}


/* =========================
   MODE SELECT
========================= */

.mode-screen {
    position: fixed;

    inset: 0;

    z-index: 500;

    display: flex;

    align-items: center;
    justify-content: center;

    background:
        radial-gradient(
            circle at center,
            #172235 0%,
            #080b12 70%
        );
}

.mode-box {
    width: min(430px, 90%);

    padding: 35px;

    background: #111722;

    border: 1px solid #30394b;

    border-radius: 18px;

    text-align: center;

    box-shadow:
        0 25px 80px
        rgba(0,0,0,.55);
}

.mode-box h1 {
    margin-bottom: 6px;

    font-size: 36px;

    letter-spacing: 3px;
}

.mode-box > p {
    margin-bottom: 25px;

    color: #718096;
}


/* =========================
   MODE OPTIONS
========================= */

.mode-options {
    display: flex;

    flex-direction: column;

    gap: 10px;
}

.mode-option {
    width: 100%;

    padding: 15px;

    display: flex;

    align-items: center;

    gap: 15px;

    text-align: left;

    background: #0d121c;

    color: white;

    border: 2px solid #252e3f;

    border-radius: 10px;

    cursor: pointer;

    transition:
        .2s;
}

.mode-option:hover {
    border-color: #3b4a63;

    transform:
        translateY(-2px);
}

.mode-option.selected {
    border-color: #22d3ee;

    background:
        rgba(34,211,238,.08);

    box-shadow:
        0 0 20px
        rgba(34,211,238,.08);
}

.mode-icon {
    font-size: 25px;
}

.mode-option strong {
    display: block;

    font-size: 15px;
}

.mode-option small {
    display: block;

    margin-top: 3px;

    color: #68758a;

    font-size: 11px;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 650px) {

    .hud {
        padding: 0 12px;
    }

    .title {
        font-size: 14px;
    }

    .stat {
        min-width: auto;
    }

    .stat .bar {
        width: 70px;
    }

    .stats-right {
        gap: 7px;

        font-size: 11px;
    }

    .car {
        width: 90px;
        height: 60px;
    }

    .text {
        font-size: 16px;
    }

    .countdown {
        font-size: 90px;
    }

    .stability .bar {
        width: 150px;
    }
}

.track-border {
    position: absolute;

    inset: 0;

    background-image:
        url("assets/border.png");

    background-repeat: repeat-y;

    background-size: 100% auto;

    background-position:
        center 0;

    z-index: 2;

    pointer-events: none;

    animation:
        trackScroll 2.2s linear infinite;
}

@keyframes trackScroll {

    from {
        background-position:
            center 100%;
    }

    to {
        background-position:
            center 0%;
    }
}
